body {
  font-family: sans-serif;
  padding: 0.5rem;
}

h1 {
  margin-top: 0;
}

.add-subscription {
  display: flex;
  flex-direction: column;
  width: 16em;
}

.add-subscription input {
  height: 2.25em;
  margin: 1em 0;
}

.add-subscription button {
  height: 2.25em;
  cursor: pointer;
}
